{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ context.title }}</h1>
        <div class="subtitle">{{ context.subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-heading">
                    <div class="title">E-mail адреса</div>
                    <div class="subtitle">Список ранее добавленных  настроек для ваших e-mail адресов</div>
                </div>
                <table id="table-emails" class="display mb-3">
                    <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Логин</th>
                            <th>SMTP</th>
                            <th>POP3</th>
                            <th>IMAP</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for email in emails %}
                        <tr>
                            <td>{{ email['email'] }}</td>
                            <td>{{ email['login'] }}</td>
                            <td>{{ email['smtp_server'] }}</td>
                            <td>{{ email['pop3_server'] }}</td>
                            <td>{{ email['imap_server'] }}</td>
                            <td>
                                <a href="{{ url_for('user_email_edit', email_id=email['id']) }}" class="btn"><i class="bi bi-pencil-square"></i></a>
                                <a href="{{ url_for('user_email', email_id=email['id']) }}" class="btn"><i class="bi bi-file-earmark-text"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-heading">
                    <div class="title">Добавить e-mail</div>
                    <div class="subtitle">Форма добавления e-mail</div>
                </div>
                <p>Добавьте новый e-mail для того, чтобы в дальнейшем отправлять письма работодателям.</p>
                <div class="div">
                    <a href="{{ url_for('user_emails_add') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Добавить e-mail</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready( function () {
    $('#table-emails').DataTable({
        searching: false,
        paging: false,
        info: false
    });
});
</script>
{% endblock %}