<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">👨‍💻 VacanPad</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-house"></i>Домой</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-briefcase"></i>Вакансии</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('vacancies') }}">Смотреть вакансии</a></li>
            <li><a class="dropdown-item" href="{{ url_for('vacancy_add') }}">Добавить вакансию</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_contacts') }}"><i class="bi bi-book"></i>Мои контакты</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_emails') }}"><i class="bi bi-envelope"></i>Настройки e-mail</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_templates') }}"><i class="bi bi-envelope-paper"></i>Шаблоны писем</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_documents') }}"><i class="bi bi-file-earmark"></i>Документы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_logout') }}"><i class="bi bi-box-arrow-left"></i>Выйти</a></li>
      </ul>
    </div>
  </div>
</nav>


